.cards-header{
  display:flex;
  justify-content: space-around;
  width: 65vw;
  margin:0px auto;
  margin-top:12vh;
}
.card-h-item{
  display: flex;
  flex-direction: column;
  width: 31%;
  background-color: rgba(255,255,255,0.7);
  margin: 0px 10px;
  box-shadow: 2px 2px 8px gray;
}
.card-h-item a{
  font-weight: bold;
  color:rgb(24, 52, 86);
  background-color: rgb(248,183,22);
  padding: 8px 20px;
  margin: 5px auto;
  width: max-content;
}
.card-h-titulo{
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.2vw;
  text-align: center;
  color: rgb(24, 52, 86);
  font-family: Rubik-Light;
  background-color: white;
}

.card-h-body{

}
.card-h-body img{
  width: 100%;
}
.bg-header-cicle-1{
  position: absolute;
  top:20vh;
  left: 5vw;
  width: 20vw;
}
.bg-header-square-1{
  position:absolute;
  top: 35vh;
  right: 5vw;
  width: 18vw;
  height: 18vw;
}

/*
Outros estilos que mais tarde devem ser movidos para os arquivos certos
*/

.text-image{
  display:flex;
}
.text-image img{
  width: 28vw;
  height: 50%;
  padding: 20px;
}

.text-image .text-container{
  display: block;
  border-left: 5px solid #1F6565;
  padding: 5px;
  margin: 40px 0px;
}

.txt-1{
  color:#1F6565;
  font-size: 1.2rem;
}

.principal-title-2{
  font-family: Rubik-Bold;
  font-size: 3rem;
  color: #1F6565;
}

.caption-2{
  font-family: Rubik-Regular;
  font-size: 3rem;
  color: #1F6565;
}