@media (max-width: 360px) {
   .desktop {
    display: none;
  }
  .cards-header{
    flex-wrap: wrap; width: 90vw;
  }
  .baner-inicio{
    height: max-content;
  }
  .card-h-item{
    margin:10px 5px;
  }
  .card-h-titulo{
    font-size: 1.1rem;
  }
   *{
    font-size: 1.2rem;
  }
  .title-1{
    font-size: 2rem;
  }
  .subtitle-1{
    font-size: 1.8rem;
  }
  .principal-title-2{
    font-size: 2rem;
  }
  .caption-2{
    font-size: 1.8rem;
  }
  .principal-title-1{
    font-size: 2rem;
  }
  .caption-1{
    font-size: 1.8rem;
  }
  .container{
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .desktop {
    display: none;
  }
  .cards-header{
    flex-wrap: wrap; width: 90vw;
  }
  .baner-inicio{
    height: max-content;
  }
  .card-h-item{
    margin:10px 5px;
  }
  .card-h-titulo{
    font-size: 1.1rem;
  }
   *{
    font-size: 1.2rem;
  }

}
@media (max-width: 600px) {
  .desktop {
    display: none;
  }
  .cards-header{
    flex-wrap: wrap; width: 90vw;
  }
  .baner-inicio{
    height: max-content;
  }
  .card-h-item{
    margin:10px 5px;
  }
  .card-h-titulo{
    font-size: 1.1rem;
  }
   *{
    font-size: 1.2rem;
  }
}
@media (max-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .desktop {
    display: none;
  }
}
@media (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
